{% extends "index.html" %} {% block title%}3D Arm Tattoo{% endblock %} {% block
content %}
<div
  class="d-flex justify-content-center align-items-center"
  style="margin-bottom: 0px"
>
  <script
    async
    src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
  ></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@v0.163.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@v0.163.0/examples/jsm/"
      }
    }
  </script>
  <script
    type="module"
    src="{{ url_for('static', filename='script.js') }}"
  ></script>
</div>
<div class="fixed-bottom m-5">
  <style>
    .upload-btn {
      width: 75px;
      height: 75px;
      background: transparent;
      position: fixed;
      bottom: 50px;
      left: 50px;
      display: flex;
    }
    .plus-icon {
      font-family: "Pirata One", serif;
      font-size: 100px;
      color: black;
      margin-bottom: 10px;
    }
  </style>
  <input type="file" id="upload" accept="image/*" class="d-none" />
  <button
    class="btn rounded-circle upload-btn border border-black border-5 justify-content-center align-items-center"
    onclick="document.getElementById('upload').click();">
    <span class="plus-icon">+</span>
  </button>
  <script>
    document.getElementById("upload").addEventListener("change", function(event) {
      let file = event.target.files[0];
      if (file) {
        let formData = new FormData();
        formData.append("image", file);
  
        fetch("/upload", {
          method: "POST",
          body: formData
        })
        .then(response => response.json())
        .then(data => alert(data.message))
        .catch(error => console.error("Error:", error));
      }
    });
  </script>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
